{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ]
  ],
  "plugins": [
    "external-helpers",
    "syntax-dynamic-import",
    "syntax-trailing-function-commas",
    ["transform-class-properties", {"spec": false}],
    ["transform-object-rest-spread", {"loose": true}],
    "transform-react-jsx"
  ]
}
