.pl-button-transition {
  transition: background-color $pl-transition-duration-medium $pl-transition-function-ripple,
                    box-shadow $pl-transition-duration-medium $pl-transition-function-ripple;
}

.pl-button {
  @extend .relative;
  @extend .overflow-hidden;

  @extend .rounded;
  @extend .padding-1-h;
  @extend .padding-0x5-v;
  @extend .font-small;
  @extend .text-uppercase;
  @extend .text-center;
  @extend .weight-bold;
  @extend .pl-button-transition;
  line-height: 1.25rem;
  min-width: 5.5rem;
}

.pl-button-raised {
  @extend .pl-button;

  background-color: $pl-color-primary;
  color: $pl-color-white;
  .theme-bg-primary & {
    background-color: $pl-color-white;
    color: $pl-color-primary;
  }

  &:hover,
  &.hover {
    box-shadow: 0 0 2px 0 $pl-color-black-300, 0 2px 2px 0 $pl-color-black-400;
  }

  &:active,
  &.active {
    box-shadow: 0 0 8px 0 $pl-color-black-300, 0 8px 8px 0 $pl-color-black-400;
    background-color: mix($pl-color-white-300, $pl-color-primary);

    .theme-bg-primary & {
      background-color: $pl-color-white;
      color: $pl-color-primary;
    }
  }

  &[disabled],
  &.disabled {
    background-color: $pl-color-black-400;
    color: $pl-color-black-500;

    .theme-bg-primary & {
      background-color: $pl-color-white-300;
      background-color: $pl-color-white-400;
    }
  }
}

.pl-button-flat {
  @extend .pl-button;

  color: $pl-color-primary;
  .theme-bg-primary & {
    color: $pl-color-white;
  }

  &:hover,
  &.hover {
    background-color: $pl-color-black-100;
    .theme-bg-primary & {
      background-color: $pl-color-white-100;
    }
  }

  &:active,
  &.active {
    background-color: $pl-color-black-300;
    .theme-bg-primary & {
      background-color: $pl-color-white-400;
    }
  }

  &[disabled],
  &.disabled {
    color: $pl-color-black-500;
    .theme-bg-primary & {
      color: $pl-color-white-400;
    }
  }
}

.pl-ripple-container {
  @extend .block;
  @extend .circle;
  @extend .abs;
  top: 50%;
  left: 50%;
  width: 200%;
  transform: translate(-50%, -50%) scale(1, 1);
  transform-origin: 50% 50%;
  opacity: 0;

  &::before {
    @extend .block;
    content: '';
    padding-bottom: 100%;
  }

  &.--animate {
    animation: pl-ripple $pl-transition-duration-medium ease-in-out;
  }

  .pl-button-raised & {
    background-color: $pl-color-white-300;
    .theme-bg-primary & {
      background-color: $pl-color-black-300;
    }
  }

  .pl-button-flat & {
    background-color: $pl-color-black-300;
    .theme-bg-primary & {
      background-color: $pl-color-white-300;
    }
  }

  .pl-chip-button & {
    background-color: $pl-color-black-100;
  }
}

@keyframes pl-ripple {
  0% {
    transform: translate(-50%, -50%) scale(0, 0);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1, 1);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pl-action-button {
  @extend .relative;
  @extend .overflow-hidden;

  @extend .circle;
  @extend .padding-1;
  @extend .pl-button-transition;
  box-shadow: 0 0 6px 0 $pl-color-black-300, 0 6px 6px 0 $pl-color-black-400;
  background-color: $pl-color-accent;
  color: $pl-color-white;

  .pl-ripple-container {
    background-color: $pl-color-black-100;
  }

  &:hover,
  &.hover {
    box-shadow: 0 0 8px 0 $pl-color-black-300, 0 8px 8px 0 $pl-color-black-400;
  }

  &:active,
  &.active {
    box-shadow: 0 0 12px 0 $pl-color-black-300, 0 12px 12px 0 $pl-color-black-400;
  }

  &[disabled],
  &.disabled {
    background-color: mix($pl-color-white-300, $pl-color-accent);
  }
}

.pl-chip-button {
  @extend .relative;
  @extend .overflow-hidden;

  @extend .padding-0x5-v;
  @extend .padding-0x75-h;
  @extend .font-small;
  line-height: 1;
  border-radius: 2rem;

  @extend .busy-light-hard;
}
